[core]
	commitGraph = true
	editor = vim
[diff]
	algorithm = patience
[gc]
	writeCommitGraph = true
[protocol]
	version = 2
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
